<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <title>BOOKS</title>
</head>
<body>
    
    <header>
        <a href="#" class="logo" >Books</a>
        <div class="items" >
            <div class="head">
                <a href="#">Home</a>
                <a href="#">Contact</a>
            </div>
        </div>
    </header>

    <section class="home">
        <div class="content">
            <h1>Google<br><span>BOOKS</span></h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque magni provident blanditiis ut magnam nihil accusantium quisquam perspiciatis earum, dolor ab suscipit vel corporis tempora sapiente recusandae possimus iusto? Consequuntur!</p>
            <a href="#">Read more</a>
        </div>
        <div class="icons-bit"> 
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
        </div>
    </section>
  
    <div>
        <video autoplay muted loop id="myVideo">
            <source src="/assets/video/Welcome.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
    </div>
    


</body>
</html>