<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/login2.css">
    <title>Sing  up</title>
</head>
<body>


    
    <div class="container" onclick="onclick">
        <div class="top"></div>
        <div class="bottom"></div>
        <div class="center">
          <h2>Sign up</h2>
          <form action="/" method="POST">
          <input type="text" placeholder="Name"/>
          <input type="text" placeholder="Last Name"/>
          <input type="email" placeholder="Email"/>
          <input type="password" placeholder="Password"/>
          <input type="password" placeholder="Confirm Password"/>
          <button class="button">Register</button>
        </div>
        </form>
      </div>
    
</body>
</html>